version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - .:/app
  api:
    build:
      context: .
      dockerfile: Dockerfile-api
    ports:
      - '3001:3001'
    env_file:
      - .env
    volumes:
      - .:/app